<!-- Location Section -->
<section id="location">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Location</h2>
              <h3 class="section-subheading text-muted first">Phone: <a href="tel:+1-415-658-7520">(415) 658-7520</a></h3>
              <h3 class="section-subheading text-muted">2356 Mission Street | San Francisco, CA</h3>
          </div>
      </div>
      <div class="row">
        <iframe src="https://snazzymaps.com/embed/83405" width="100%" height="600px" style="border:none;"></iframe>
      </div>
  </div>
</section>
