<!-- Schedule Section -->
<section id="schedule">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Schedule</h2>
          </div>
      </div>
      <div class="row text-center">
          <div class='schedule-large-container'>
            <div class='day'>Monday<span class='short'> - Friday</span></div>
            <div class='time'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time'>BJJ - Gi<br/>6:30pm - 8:30pm</div>
            <div class='day short'>Tuesday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Gi<br/>11am - 12:30pm</div>
            <div class='time short'>BJJ - Fundamentals<br/>5:30pm - 7pm</div>
            <div class='time short'>BJJ - No Gi<br/>7pm - 9pm</div>
            <div class='day short'>Wednesday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Gi<br/>5:30pm - 7:30pm</div>
            <div class='time short'>BJJ - No Gi<br/>7:30pm - 9pm</div>
            <div class='day short'>Thursday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Gi<br/>11am - 12:30pm</div>
            <div class='time short'>BJJ - Fundamentals<br/>5:30pm - 7pm</div>
            <div class='time short'>Wrestling<br/>7pm - 8pm</div>
            <div class='day short'>Friday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Gi<br/>6pm - 8pm</div>
            <div class='day'>Saturday</div>
            <div class='time'>BJJ - Gi<br/>10am - 11:45pm</div>
            <div class='time'>BJJ - No Gi<br/>11:45pm - 1:30pm</div>
            <div class='day'>Sunday</div>
            <div class='time'>No Class</div>
            <div class='time'></div>
            <div class='time'></div>
          </div>
      </div>
  </div>
</section>
