<!-- Schedule Section -->
<section id="schedule">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Schedule</h2>
          </div>
      </div>
      <div class="row text-center">
          <div class='schedule-large-container'>
            <div class='day'>Monday<span class='short'> - Friday</span></div>
            <div class='time'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time'>BJJ - Gi<br/>11am - 1:00pm</div>
            <div class='time'>BJJ - Gi<br/>5:30pm - 7:30pm</div>
            <div class='time short'>BJJ - Fundamentals<br/>7:30pm - 9pm</div>
            <div class='day short'>Tuesday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Fundamentals<br/>11am - 1:00pm</div>
            <div class='time short'>BJJ Kids<br/>4:30pm - 5:30pm</div>
            <div class='time short'>BJJ - Gi<br/>5:30pm - 7:30pm</div>
            <div class='day short'>Wednesday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Gi<br/>11am - 1:00pm</div>
            <div class='time short'>BJJ - Gi<br/>5:30pm - 7:30pm</div>
            <div class='time'>BJJ - No Gi<br/>7:30pm - 9:00pm</div>
            <div class='day short'>Thursday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Fundamentals<br/>11am - 1:00pm</div>
            <div class='time short'>BJJ Kids<br/>4:30pm - 5:30pm</div>
            <div class='time short'>BJJ - Gi<br/>5:30pm - 7:30pm</div>
            <div class='time short'>BJJ - Fundamentals<br/>7:30pm - 9pm</div>
            <div class='day short'>Friday</div>
            <div class='time short'>BJJ - Gi<br/>7am - 8:30am</div>
            <div class='time short'>BJJ - Gi<br/>11am - 1:00pm</div>
            <div class='time short'>BJJ Kids<br/>4:30pm - 5:30pm</div>
            <div class='time short'>BJJ - Gi<br/>5:30pm - 7:30pm</div>
            <div class='day'>Saturday</div>
            <div class='time'>Muay Thai<br/>9am-10:30am</div>
            <div class='time'>BJJ - Gi<br/>10:30am - 12:00pm</div>
            <div class='time'>BJJ - No Gi<br/>12:30pm - 2:00pm</div>
            <div class='day'>Sunday</div>
            <div class='time'>No Class</div>
            <div class='time'></div>
            <div class='time'></div>
          </div>
      </div>
  </div>
</section>
