<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Monthly Membership</h4>
                    <p class="service-description">Whether you want to train 2x a week, 2x a week, or every day - we've got a membership package for you.</p>
                    <p class="service-description">E-mail us at <a href='mailto:info@empirebjj.com'>info@empirebjj.com</a> to learn more about our monthly offerings.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Private Lessons</h4>
                    <p class="service-description">
                        If you're looking for a little more attention from either Kurt or Jake, you can get a personalized session from our either of our head instructors.
                    </p>
                    <p class="service-description">E-mail us at <a href='mailto:info@empirebjj.com'>info@empirebjj.com</a> to schedule your lesson!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar-times-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">10 - class Pass</h4>
                    <p class="service-description">Maybe you're not quite sure what your schedule is looking like for the next couple months -  a prepaid 10 - class pass might be what you're looking for!</p>
                    <p class="service-description">Get yours now for $200!</p>
                    <p class="service-description"><i>*10-class pass valid for six months</i></p>
                </div>
            </div>
        </div>
    </section>